<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
      </head>
    <div class="body">
        <main id="canvas"></main> 
        <h1>Share Your Thoughts</h1>
        <form method="post" action="/new" class="new-message-form">
            <label for="name">Name: </label>
            <input type="text" id="name" name="user" minlength="2" required />
            
            <label for="message">Message: </label>
            <textarea name="message" id="message" cols="30" rows="10" minlength="2" required></textarea>
            
            <button>Submit</button>
        </form>
    </div>
    <script src="/sketch.js"></script>
</html>