
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
      </head>
    <div class="body">
        <h1><%= title %></h1>
        <button><a href="/new">Whats on your mind?</a></button>
        <% messages.map((message)=> { %>
            <li>
                <div><%= message.text %></div>
                <div><%= message.user %></div>
                <div><%= message.added.toLocaleString() %></div>
            </li>
        <% }) %>
            
    </div>
</html>