
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
      </head>
    <div class="body">
        <h1><%= title %></h1>
        <div class="content">

            <a href="/new"><button>Whats on your mind?</button></a>
            <ul>
                <% messages.map((message)=> { %>
                    <li class="message">
                        <div class="message-user"><%= message.user %>:</div>
                        <div class="message-text">"<%= message.text %>"</div>
                        <div class="message-time"><%= message.added.toLocaleString() %></div>
                    </li>
                    <% }) %>
                </ul>
        </div>
            
    </div>
</html>